.modules-faq .shortcuts{
	margin-bottom: 20px;
}
.modules-faq .questions{
	margin-bottom: 20px;
}
.modules-faq .questions li{
	margin-bottom: 20px;
}

/** Styles for old deprecated blocks */
@import url(/modules/faq/style/frontoffice-old.css);