<ul tal:condition="formPage" class="mini-navigation">
	<li><a change:link="document formPage" change:translate="modules.faq.frontoffice.LinkToForm"></a></li>
</ul>

<h2 change:h="">${container/getLabelAsHtml}</h2>
<ul class="shortcuts">
	<li tal:repeat="item paginator">
		<a class="link" tal:attributes="href string:#faq_${item/getId}">${item/getLabelAsHtml}</a>
	</li>
</ul>

<tal:block tal:condition="not:paginator">
	<span change:translate="modules.faq.frontoffice.Empty-container"></span>
</tal:block>
<tal:block tal:condition="paginator">
	<ol class="questions">
		<li tal:repeat="item paginator">
			<h3 change:h="">
				<a tal:attributes="name anchorName; id string:faq_${item/getId}; title item/getQuestion">${item/getQuestionAsHtml}</a>
			</h3>
			<p>${item/getResponseAsHtml}</p>
		</li>
	</ol>
	<tal:block change:paginator="paginator" />
</tal:block>