<ul tal:condition="formPage" class="mini-navigation">
	<li><a change:link="document formPage" change:translate="modules.faq.frontoffice.LinkToForm"></a></li>
</ul>

<h1 change:h="">${container/getLabelAsHtml}</h1>
<p tal:condition="not:paginator" class="normal">${trans:m.faq.frontoffice.empty-container,ucf}</p>
<tal:block tal:condition="paginator">
	<ul class="normal">
		<li tal:repeat="item paginator">
			<a class="link" tal:attributes="href string:#faq_${item/getId}">${item/getLabelAsHtml}</a>
		</li>
	</ul>
	<tal:block change:paginator="paginator" />

	<ol class="document-list">
		<li tal:repeat="item paginator" class="${alternateclass:questionIndex}">
			<h2 change:h="">
				<a tal:attributes="name anchorName; id string:faq_${item/getId}; title item/getQuestion">${item/getQuestionAsHtml}</a>
			</h2>
			<div class="normal">${item/getResponseAsHtml}</div>
		</li>
	</ol>
	<tal:block change:paginator="paginator" />
</tal:block>