<div tal:attributes="class php:'abstractdirectory-block ' . moduleName . '-abstractdirectory-block'">

	<p tal:condition="containerParentParam" class="return-link">
		<a change:currentPageLink="containerParentParam" i18n:translate="&modules.abstractdirectory.frontoffice.BackToParentContainer;"/>
	</p>

	<ul tal:condition="formPage" class="mini-navigation">
		<li><a change:link="document formPage" i18n:translate="&modules.faq.frontoffice.LinkToForm;"/></li>
	</ul>
	
	<div class="column-one">
		<h3 class="title" tal:content="container/getLabel" />
		<span tal:condition="not: messageContent" tal:replace="itemsContent"/>
		<span tal:condition="messageContent" tal:replace="messageContent" />
	</div>
	
	<div class="column-two">
		<span tal:condition="menu" tal:omit-tag="">
			<p i18n:translate="&modules.abstractdirectory.frontoffice.SubContainerMenuTitle;" />
			<ul change:menu="menuObject menu; itemName item; maxLevel 1; masterUlClass folder-vertical" tal:omit-tag="">
				<a tal:attributes="href item/getUrl" tal:content="item/getLabel" />
			</ul>
			<p class="subfolder" i18n:translate="&modules.abstractdirectory.frontoffice.NbSubContainerHelp;" />
		</span>
	</div>

	<div class="cleaner"></div>

	<span change:paginator="paginator" tal:omit-tag=""/>
	
</div>